# Backend
backend/env/
backend/__pycache__/
backend/*.pyc
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/coverage/
frontend/.env*.local
frontend/*.log

# General
.DS_Store
.vscode/
.idea/

# Global Secrets
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Package Manager Stuff
**/*.log
**/.pnp
**/.pnp.js